<div style="display: flex; flex-flow:column nowrap; align-items:center;">
    <div style="display: flex; flex-flow:column nowrap; align-items:center; background-color:rgba(97, 97, 97, 0.107); width:60%; border-radius:10px; margin:20px; padding:15px; gap:20px">
        <h1 style="text-align: center;">truco imaginario</h1>
        <a style="background-color:rgba(97, 97, 97, 0.5); padding:15px; border-radius:15px; color:#000000; text-decoration:none; font-size:20px" href="/juego">mezclar</a>
    </div>
</div>