<div style="display: flex; flex-flow:column nowrap; align-items:center;">
    <h1 style="text-align: center;">jugador {{number}}</h1>
    <div style="display: flex; justify-content:center; background-color:rgba(97, 97, 97, 0.107); width:60%; border-radius:10px; margin:20px; padding:15px">
        <div id="hidden-element" style="background-color:rgba(97, 97, 97, 0.3); border-radius:10px; margin:20px; padding:15px; display:flex; flex-flow:column nowrap; gap:15px">
            {{#each cards}}
                <h3  style=" margin-bottom: 10px;">{{this.number}}  {{this.type}}</h3>
            {{/each}}
        </div>
    </div>
</div>